:root{
    --header-web: #2196f3;
    --nav-studio: #000000;
    --nav: #212121;
    --nav-number: #757575;
    --main: #2f303a;
    --main-title: #ffffff;
    --li-color-text: #212121;
    --li-color-text: #757575;
    --footer-background: #2f303a;
    --button: #f5f4fa

}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,p{
    margin-bottom: 0;
    margin-top: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
}

.black{
    color: var(--nav-studio);
}


.navigation{
    font-size: 14px;
    font-weight: 500;

}

.site-nav-link{
    color: var(--nav);
}

.contact-link{
    color: var(--nav-number);
}

.contact{
    font-size: 14px;
    font-weight: 500;
}

