:root{
    --header-web: #2196f3;
    --nav-studio: #000000;
    --nav: #212121;
    --nav-number: #757575;
    --main: #2f303a;
    --main-title: #ffffff;
    --li-color-text: #212121;
    --li-color-text: #757575;
    --footer-background: #2f303a;
    --button: #f5f4fa;
    --icon-color: #AFB1B8;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.employee-warp{
    text-align: center;
}

.text-details{
    color: var(--nav-number);
    font-size: 14px;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.section-details{
    padding-top: 94px;
    padding-bottom: 94px;
}

.activity{
    padding-bottom: 94px;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button);
}

.team-item{
    background-color: var(--main-title);
    width: 270px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    background: var(--main-title);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list{
    display: flex; 
    justify-content: space-between;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background);
}

.work-blok{
    padding-top: 94px;
    padding-bottom: 94px;
}

.contactc-link{
    color: var(--nav);
}

.contactc-link:hover{
    color: var(--header-web);
}

.activity-list{
    display: flex;
    justify-content: space-between;
}

.activity-img{
    width: 370px;
    height: 294px;
}

.site-details-item{
    width: 270px;
}

.site-details-item::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: var(--button);
    border-radius: 4px;
    background-image: url(./img/antenna.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;   
}

.site-details-item:nth-child(2)::before{
    background-image: url(./img/clock.webp);
}

.site-details-item:nth-child(3)::before{
    background-image: url(./img/diagram.webp);
}

.site-details-item:nth-child(4)::before{
    background-image: url(./img/astronaut.webp);
}

.site-details{
    display: flex;
    justify-content: space-between;
}

.contactc{
    display: flex; 
}

.contactc .contactc-link:hover{
    color: var(--header-web);
}

.contactc-link:hover .contact-icon{
    fill: var(--header-web);
}

.contact-icon{
    margin-right: 10px;
}

.contactc-link{
    display: flex;
    align-items: center;
    color: var(--nav-number);
}
.contactc-item{
    font-weight: 500;
    font-size: 14px;
}

.email{
    margin-right: 50px;
    color: var(--nav-number);
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-taitel{
    text-align: center;
    font-size: 40px;
    font-weight: 900px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-title);
    margin-bottom: 30px;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-right: 93px;
}

.logo-warp{
    display: flex;
    align-items: center;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black{
    color: var(--nav-studio);
}

.white{
    color: var(--main-title);
}

.footer-city{
    color: var(--main-title);
}

.footer-tel{
    color: rgba(255, 255, 255, 0.60);
}
.footer-tel:hover{
    color: var(--header-web);
}

.navigation{
    font-size: 14px;
    font-weight: 500;

}

.section-post{
    background-color: var(--main);
    padding-top: 200px;
    padding-bottom: 200px;
    background: url(./img/lydi.webp), lightgray 0px -147.517px / 100% 170.667% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.site-nav-link{
    color: var(--nav);
}

.site-nav-link:hover{
    color: var(--header-web);
}


.contact{
    font-size: 14px;
    font-weight: 500;
}

.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}


.post-button{
    color: var(--main-title);
    background: var(--header-web);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.post-button:hover{
    color: var(--main-title);
    background-color: #1287e7;
}

.post-wrap{
    display: flex;
    justify-content: center;
    
}

.details-title{
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.fuoter-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-bottom: 20px;
}

.sectio-title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.name{
    color: var(--nav-studio);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.profession{
    color: var(--nav-number);
    font-size: 16px;
}

.filt-button{
    color: var(--nav-studio);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filt:hover{
    background-color: var(--header-web);
    color: var(--main-title);
}


.filt{
    background: var(--button);
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 6px 22px;
    line-height: 162%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.filt:hover,
.filt:focus{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.site-div-link{

}

.portpfilio-item{
    border: 1px solid var(--button);
    background: var(--main-title);
    margin-bottom: 30px;
}

.portpfilio-item:hover,
.portpfilio-item:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portpfilio-img{
    width: 370px;
    height: 294px;
}

.portpfilio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portpfilio-list{
    
}

.portpfilio-text{
    color: var(--nav-number);
    font-size: 16px;
    font-weight: 400;
    margin: 4px 24px 20px 24px;
}

.portpfilio-title{
    color: var(--nav-studio);
    font-size: 18px;
    font-weight: 700;
    margin: 20px 24px 4px 24px;
}

.portpfilio-card{
    width: 370px;
    height: 404px; 
}

.photo{
    color: var(--nav-studio);
    font-size: 18px;
    font-weight: 700;
}

.text-photo{
    color: var(--nav-number);
    font-size: 16px;
    font-weight: 400;
}

.footer-item{
    margin: 9px;
}

.mail{
    color: var(--nav-number);
    font-size: 14px;
    background-color: #2F303A;
}

.telephone{
    color: var(--nav-number);
    font-size: 14px;
    background-color: #2F303A;
}

.social-icon{
    width: 20px;
    height: 20px;
}

.social-list{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
}

.social-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover,
.social-lnk:focus{
    fill: var(--main-title);
    background-color: var(--header-web);
}

.customers-list{
    display: flex;
    justify-content: space-between;  
    margin-bottom: 94px;
    margin-top: 50px;
}

.customers-list-item{

}

.customers-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
}

.customers-icon{
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
}

.customers-icon:hover{
    fill: var(--header-web);
}

.footer-icon{
    width: 20px;
    height: 20px;
}

.footer-icon{
    display: flex;
    align-items: center;
}

.footer-link{
    fill: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.footer-link:hover,
.footer-lnk:focus{
    fill: var(--main-title);
    background-color: var(--header-web);
}

.footer-social{
    margin-top: 72px;
    margin-left: 70px;
}

.footer-join{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button);
}